<h1>New Game</h1>

<ul class="letters">
  <% @letters.each do |letter| %>
  <li class="letter"><%= letter %></li>
  <% end %>
</ul>

<form action="/score" method="post">
  <input type="text" name=user_input value="<%= params[:user_input] %>">
  <input type="submit" value="Do your best !">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :letters, @letters %>
</form>

<h1><%= @letters %></h1>